{% extends "braschüne/base.html" %}
{% load partials %}

{% partialdef kicker %}
<div class="d-flex justify-content-between" style="border: 2px solid black; border-bottom: 2px solid orange; border-top: 2px solid #23985D; margin: 1em 0;">
    {% if playing %}
    <button class="btn btn-warning" style="background-color: orange;" hx-post="/goal/software-design" hx-disabled-elt="this">TOR</button>
    {% endif %}
    <div class="align-self-center">
        <h1 style="color: orange;">{{ game.sd_score }}</h1>
    </div>
    <div class="text-center">
        <div class="pb-5" style="color: #23985D;">
            Team easyVerein
        </div>
        <div style="color: orange;">
            Team Software-Design
        </div>
    </div>
    <div class="align-self-center">
        <h1 style="color: #23985D;">{{ game.ev_score }}</h1>
    </div>
    {% if playing %}
    <button class="btn btn-success" style="background-color: #23985d;" hx-post="/goal/easyverein" hx-disabled-elt="this">TOR</button>
    {% endif %}
</div>
{% endpartialdef %}

{% partialdef add-player %}
<div id="add-player-{{ side }}" class="add-player" {% if oob %}hx-swap-oob="true"{% endif %}>
    <div class="dropdown">
        <button class="btn {% if side == 'easyVerein' %}btn-success{% else %}btn-warning{% endif %} dropdown-toggle" type="button" data-bs-toggle="dropdown" style="background-color: {% if side == 'easyVerein' %}#23985d{% else %}orange{% endif %};">
          Spieler hinzufügen
        </button>
        <ul class="dropdown-menu">
            {% for user in users %}
            <li><a class="dropdown-item" href="#" hx-post="/add-player/{{ side }}/{{ user.id }}" hx-disabled-elt="this">{{ user.username }}
                {% comment %} ({{ user.profile.sicherungskasten }} Bier) {% endcomment %}
            </a></li>
            {% endfor %}
            <li><a class="dropdown-item" href="/create-player/{{ side }}"><i>+ Gast</i></a></li>
        </ul>
      </div>
</div>
{% endpartialdef %}

{% partialdef player-badge %}
{% if player %}
<div class="player-badge position-relative">
    <img src="{{ player.profile.image_url }}" alt="{{ player }}" style="border-radius: 100%; width: 7em; height: 7em; border: 3px solid {% if side == 'easyVerein' %}#23985d{% elif not side %}black{% else %}orange{% endif %}">
    <div sse-swap="player-sicherungskasten-badge-{{ player.id }}">
        {% partialdef player-sicherungskasten-badge inline=True %}
        {% comment %} <div class="position-absolute top-0 end-0 badge rounded-pill {% if player.profile.sicherungskasten >= 6 %}bg-success{% elif player.profile.sicherungskasten >= 2 %}bg-warning{% else %}bg-danger{% endif %}">{{ player.profile.sicherungskasten }}</div> {% endcomment %}
        {% endpartialdef %}
    </div>
    {% if player.profile.is_online_in_inside %}
    {% comment %} <div class="position-absolute top-100 start-0 badge rounded-pill bg-danger" style="transform: translateY(-100%) !important;">Nicht ausgeloggt</div> {% endcomment %}
    {% endif %}
    {% if side %}
    <div>
        <div class="position-absolute bottom-0 end-0" hx-post="/remove-player/{{ side }}/{{ player.id }}" hx-disabled-elt="this" style="cursor: pointer;">
        <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="bg-danger" style="border-radius:100%;">
                <path d="M16 8L12 12M12 12L8 16M12 12L8 8M12 12L16 16" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <circle cx="12" cy="12" r="10" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endpartialdef %}

{% partialdef player-selection %}
<div id="player-selection-{{ side }}" class="d-flex justify-content-around align-items-center" sse-swap="player-selection-{{ side }}" hx-swap="outerHTML">
    {% with player=leftPlayer %}
        {% partial player-badge %}
    {% endwith %}

    {% if leftPlayer and rightPlayer %}
        <button class="btn {% if side == 'easyVerein' %}btn-success{% else %}btn-warning{% endif %}" style="background-color: {% if side == 'easyVerein' %}#23985d{% else %}orange{% endif %}" hx-post="/swap-players/{{ side }}" hx-swap="none" hx-disabled-elt="this">&larr; Spieler tauschen &rarr;</button>
    {% else %}
        {% partial add-player %}
    {% endif %}

    {% with player=rightPlayer %}
        {% partial player-badge %}
    {% endwith %}
</div>
{% if updatePlayerSelect %}
    {% with oob=True side=otherSide %}
        {% partial add-player %}
    {% endwith %}
{% endif %}
{% endpartialdef %}


{% partialdef start-game %}
<div>
    <h1>Neues Spiel Starten</h1>
    {% with side="easyVerein" leftPlayer=game.ev_offensive rightPlayer=game.ev_defensive %}
        {% partial player-selection %}
    {% endwith %}
    {% partial kicker %}
    {% with side="software-design" leftPlayer=game.sd_defensive rightPlayer=game.sd_offensive %}
        {% partial player-selection %}
    {% endwith %}

    <button class="btn btn-primary" hx-post="/next-round" hx-swap="none" hx-disabled-elt="this">Spiel starten</button>
</div>
{% endpartialdef %}

{% partialdef playing-game %}
<div>
    <h1>Runde {{ game.game_round|add:1 }}: {{ game.round_name }}</h1>
    <div class="d-flex justify-content-around align-items-center">
        {% for player in game.ev_players %}
            {% partial player-badge %}
        {% endfor %}
    </div>
    {% with playing=True %}
    {% partial kicker %}
    {% endwith %}
    <div class="d-flex justify-content-around align-items-center">
        {% for player in game.sd_players %}
            {% partial player-badge %}
        {% endfor %}
    </div>
    {% comment %} <button class="btn btn-primary" hx-post="/next-round" hx-vals='{"payout": true}' hx-disabled-elt="this" hx-swap="none">Auszahlen!</button> {% endcomment %}
    <button class="btn btn-secondary" hx-post="/next-round" hx-disabled-elt="this" hx-swap="none">Nächste Runde</button>
    <button class="btn btn-danger float-end" hx-post="/end-game" hx-swap="none" hx-disabled-elt="this">Spiel beenden</button>
</div>
{% endpartialdef %}

{% block content %}
<div hx-ext="sse" sse-connect="/sse">
    <div id="game" sse-swap="game">
        {% if game.game_round == -1 %}
        {% partial start-game %}
        {% else %}
        {% partial playing-game %}
        {% endif %}
    </div>

    {% partialdef beer-list inline=True %}
    {% comment %} <div id="beer-list" class="mt-5">
        <h2>Schulden</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Von</th>
                    <th>An</th>
                    <th>Anzahl</th>
                    <th>Datum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody sse-swap="beer" hx-swap="afterbegin">
                {% partialdef beer-rows inline=True %}
                {% for beer in beers %}
                    <tr id="row-{{ beer.id }}" {% if beer.is_done %}class="table-success"{% endif %} {% if beer.updated %}hx-swap-oob="outerHTML"{% elif beer.deleted %}hx-swap-oob="delete"{% endif %}>
                        <td>{{ beer.from_user }}</td>
                        <td>{{ beer.to_user }}</td>
                        <td>{{ beer.get_amount }}</td>
                        <td>{{ beer.date|date:"d.m.Y" }}</td>
                        <td>
                            {% if not beer.is_done %}
                            <button class="btn btn-success" hx-post="/done-beer/{{ beer.id }}" hx-disabled-elt="this">Erledigt</button>
                            {% endif %}
                            <button class="btn btn-danger" hx-post="/delete-beer/{{ beer.id }}" hx-disabled-elt="this">x</button>
                        </td>
                    </tr>
                {% endfor %}
                {% endpartialdef %}
            </tbody>
        </table>
    </div> {% endcomment %}
    {% endpartialdef %}
</div>
{% endblock content %}