{% load vite %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% vite %}
        {% vite 'tischkicker/scss/main.scss' %}
        {% block css %}{% endblock css %}
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div class="container mt-5">
            {% block content %}{% endblock content %}
        </div>

        {% vite 'tischkicker/js/bootstrap.js' %}

        {% for key, value in javascriptContext.items %}
            {{ value|json_script:key}}
        {% endfor %}
        {% block data %}{% endblock data %}
        {% block javascript %}{% endblock javascript %}
    </body>
</html>
