{% extends "tischkicker/base.html" %}
{% load vite %}
{% load static %}

{% block title %}Braschüne{% endblock title %}
{% block content %}
<div>
    <div>
        <h1>Braschüne!</h1>
    </div>
    {% comment %} {% if not request.user.is_authenticated %}
    <a href="/accounts/login">Einloggen</a>
    {% endif %} {% endcomment %}
    <div class="border p-3">
        <h2>Hinzufügen</h2>
        <form action="/add_debt" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-auto">
                    <h4>Von</h4>
                    {% for u in users %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" value="{{ u.id }}" id="{{ u.id }}" name="senders">
                        <label for="{{ u.id }}" class="form-check-label">{{ u.username }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-auto">
                    <h4>An</h4>
                    {% for u in users %}
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" value="{{ u.id }}" id="h_{{ u.id }}" name="receivers">
                        <label for="h_{{ u.id }}" class="form-check-label">{{ u.username }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-auto">
                    <h4><label for="amount" class="form-label">Anzahl</label></h4>
                    <input type="number" class="form-control" id="amount" name="amount">
                </div>
            </div>
            <div class="mb-3">
                <label for="note" class="form-label">Notiz</label>
                <textarea name="note" id="note" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <h2 class="mt-5">Braschünen</h2>
    <button id="toggleDoneDebts" class="btn btn-secondary">Erledigte Einträge ein-/ausblenden</button>
    <table id="debtTable" class="table">
        <tr>
            <th>Von</th>
            <th>An</th>
            <th>Anzahl</th>
            <th>Notiz</th>
            <th>Datum</th>
            <th>Erledigt</th>
        </tr>
        {% for debt in debts %}
        <tr {% if debt.done %}class="table-success"{% endif %}>
            <td>{{ debt.get_senders }}</td>
            <td>{{ debt.get_receivers }}</td>
            <td>{% if debt.amount == 24 %}<strong>1 Kiste</strong>{% else %}{{ debt.amount }}{% endif %}</td>
            <td>{{ debt.note|linebreaksbr }}</td>
            <td>{{ debt.date|date:"d.m.Y" }}</td>
            <td>
                {% if debt.done %}<i class="bi bi-check text-success"></i>{% else %}
                <a href="/debt_done/{{ debt.id }}">Erledigt &raquo;</a>
                |
                <a href="/debt_double/{{ debt.id }}" class="debt_double">Verdoppeln &raquo;</a>
                {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}

{% block javascript %}
{% vite 'braschuene/js/index.js' %}
{% endblock javascript %}
